$main-color: #ffffff;
$first-color: #0497D8;
$second-color: #FFDC14;
$third-color: #5B2724;
$fourth-color: #E6001C;
$fifth-color: #029B3F;
$sixth-color: #F28A00;

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
