.fa {
    cursor: pointer;
}

#section__to-play {
   img {
       max-width: 44%;
       max-height: 20rem;
   }
   
   #section__to-play--buttons {
        button {
        padding: 0.2rem 0.6rem 0.35rem 0.6rem;
        }

        .btn-primary {
            color: #fff;
            background-color: $first-color;
            border: none;
        }

        #btn-refresh {
            background: $third-color;
    
            i.fa.fa-refresh {
                color: $second-color;
            }
        }
   }

   #ul-selected {
       list-style: none;
       margin: 0;
       padding-left: 0.8rem;
   }
}

  .wobble-to-bottom-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

  .wobble-to-bottom-right:active, .wobble-to-bottom-right:focus  {
    -webkit-animation-name: wobble-to-bottom-right;
    animation-name: wobble-to-bottom-right;
    -webkit-animation-duration: 1s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

.accordion-body {
    .fa-user-minus:before {
        background: $fourth-color;
        border-radius: 6px;
        color: $main-color;
        padding: 0.5rem 0.4rem;
    }

    .fa-edit:before {
        background: $main-color;
        border-radius: 6px;
        color: $fourth-color;
        padding: 0.5rem 0.4rem 0.5rem 0.55rem;
    }

}