#section__to-play--buttons {
    #btn-refresh {
        background: $third-color;

        i.fa.fa-refresh {
            color: $second-color;
        }
    }
}

#section__to-play {
   img {
       max-width: 44%;
   }   
   
   #section__to-play--buttons {
        button {
        padding: 0.2rem 0.6rem 0.35rem 0.6rem;
        }

        .btn-primary {
            color: #fff;
            background-color: $first-color;
            border: none;
        }
   }
}