html {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: $main-color;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;

    img {
        max-height: 2rem;
    }
}

main {
    height: 100%;
}   

#section__new-participant {
    background: $first-color;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    
    input {
        border: none;
        border-radius: 6px;
        padding: 8px;
        width: 75%;
    }

    button.btn-circle {
        border: none;
        border-radius: 20px;
        background: $second-color;

        i.fa.fa-plus {
            color: $third-color;
        }
    }
}

#section__to-play {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    height: 40%;

    #section__to-play--selected-list {
        margin-top: 1.5rem;
        overflow: scroll;
        max-height: 8.5rem;
        border: 0.5px dotted;
        padding: 0.5rem 0rem 1rem 0rem;
    }
}

#participantsAccordion {
    background: transparent;
    height: 50%;

    .accordion-item {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    #collapseOne {
        max-height: 14rem;
        height: 100%;
        overflow: scroll;
    }

    .accordion-button {
        background: $first-color;
        box-shadow: none;
    }

    .accordion-button::after {
        color: $main-color;
        font-weight: bold;
        margin: auto;
    }

    .accordion-button:not(.collapsed) {
        background: $first-color;
        color: $main-color;
    }

    .accordion-body {
        background: rgba($first-color, 0.8); 
        padding: 0;
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0.75rem 2rem;
            }

            li:first-child {
                padding-top: 1.5rem;
            }

            li:last-child {
                padding-bottom: 1.5rem;
            }

            span {
                background: #fff;
                width: 12rem;
                display: inline-block;
                border-radius: 6px;
                padding: 0.5rem 0.8rem;
            }

            .fa-icons:before {
                content: "";
            }
        }
    }
}