body {
    background-color: $main-color;
    margin: 20px 0 0 0;
}

header {
    padding: 40px;
    text-align: center;
    img {
        max-height: 2rem;
    }
}

#section__new-participant {
    background: $first-color;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    input {
        border: none;
        border-radius: 6px;
        padding: 8px;
        width: 75%;
    }

    button.btn-circle {
        border: none;
        border-radius: 20px;
        background: $second-color;

        i.fa.fa-plus {
            color: $third-color;
        }
    }
}

#section__to-play {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;

    #section__to-play--selected-list {
        margin-top: 1.5rem;
        overflow: scroll;
        max-height: 8.5rem;
        border: 0.5px dotted;
        padding: 0.5rem 0rem 1rem 0rem;
    }
}

#participantsAccordion {
    background: $first-color;
    margin-top: 6rem;
    bottom: 0;
    position: absolute;
    width: 100%;

    .accordion-button {
        background: $first-color;
        box-shadow: none;
    }

    .accordion-button::after {
        color: $main-color;
        font-weight: bold;
        margin: auto;
    }

    .accordion-button:not(.collapsed) {
        background: $first-color;
        color: $main-color;
    }

    .accordion-body {
        background: rgba($first-color, 0.8); 
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 1rem;
            }

            span {
                background: #fff;
                width: 12rem;
                display: inline-block;
                border-radius: 6px;
                padding: 0.5rem 0.8rem;
            }

            .fa-icons:before {
                content: "";
            }
        }
    }
}